
# Devitrak API
VITE_APP_DEVITRACK_API=
VITE_APP_DEVITRACK_API_BACKUP=

# Devitrak Consumer API
VITE_APP_DEVITRAK_CONSUMER_API=

# Twilio
VITE_APP_TWILIO_ACCOUNT_SID=
VITE_APP_TWILIO_AUTH_TOKEN=

# Ports
PORT=
PORT_SSR=

# Stripe
VITE_APP_PUBLIC_STRIPE_KEY=

# Recaptcha
VITE_APP_RECAPTCHA_SITEKEY=

# Encryption
VITE_APP_ALGORITHM=
VITE_APP_SECRETE_KEY_ENCRYPT=

# AWS
VITE_APP_HEADER_AUTH_TOKEN=
VITE_APP_AWS_API=

