#calender-event {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 8px;
  /* border-radius: 12px; */
  outline: none;
  background-color: #fff;
  color: #000;
  vertical-align: center;
  box-shadow: 1px 1px 2px rgba(16, 24, 40, 0.05);
  height: 2.5rem;
  padding: 0 11px;
  /* padding: 0 15px; */
  width: 100%;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  line-height: initial;
  z-index: 1;
  width: 20rem;
  display: flex;
}
