.auto-complete-input {
  border-radius: 0;
  width: 50%;
  padding: 0;
  height: 2.5rem;
}

.-MuiAutocomplete-root {
  padding: 0;
}
.-MuiAutocomplete-root input {
    height: -webkit-fill-available;
}

.auto-complete-input .ant-select-selector {
  height: "-webkit-fill-available";
  border-radius: 8px;
  padding: 0;
}
/* , width: "50%", padding:0, borderRadius: "8px"  */
