/* @media (prefers-reduced-motion: no-preference) { */
    .card-inventory-rendered {
      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: entry;
    }
  
    @keyframes fade-in {
      to {
        scale: 1;
        opacity: 1;
      }
    }
  /* } */
  
  @media only screen and (max-width: 425px) {
    .card-inventory-rendered {
      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: entry;
    }
  
    @keyframes fade-in {
      to {
        scale: 1;
        opacity: 1;
      }
    }
  }
  