<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
            <error statusCode="401" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
        </rewrite>
        <caching>
            <profiles>
                <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
    </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
            <rewrite>
            <rules>
                <rule name="https redirect" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="Redirect" url="/{R:1}" appendQueryString="false" redirectType="Temporary" />
                </rule>
            </rules>
            </rewrite>
        </system.webServer>
    </location>
</configuration>