<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Rewrite non-file/dir requests to index.html -->
    <rewrite>
      <rules>
        <rule name="React Router" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Optional: Prevent IIS dynamic compression on JS/JSON -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="application/javascript" enabled="false" />
        <add mimeType="application/json" enabled="false" />
        <add mimeType="text/*" enabled="true" />
      </dynamicTypes>
    </httpCompression>

    <!-- Optional: Map missing MIME types -->
    <staticContent>
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
    </staticContent>

  </system.webServer>
</configuration>
