.footer-expanded-table {
  background-color: var(--gray300a);
}

.footer-expanded-table
  .ant-table-container
  .ant-table-content
  .ant-table-tbody {
  background-color: var(--gray300a);
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-input {
  width: 80%;
}

.table-ant-expanded-row-customized .ant-table-tbody {
  background-color: var(--gray100);
}

tr.ant-table-expanded-row.ant-table-expanded-row-level-1 > td {
  padding:20px 0 0;
}
