#root {
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  border-top: transparent;
}

@media screen and (max-width: 425px) {
  #root {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  border-top: transparent;
}

}
