#root {
  width: 100%;
  min-width: 755px;
  /* calc(100% - 12px); */
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  /* padding-left: min(24px, 8%);
  padding-right: min(24px, 8%); */
  text-align: center;
  border-top: transparent;
  /* border-left: 0.1px solid var(--gray100);
  border-right: 0.1px solid var(--gray100); */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: -webkit-filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms; /* Combined for compatibility */
}

.logo:hover {
  -webkit-filter: drop-shadow(0 0 2em #646cffaa);
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  -webkit-filter: drop-shadow(0 0 2em #61dafbaa);
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes logo-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    -webkit-animation: logo-spin infinite 20s linear;
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.bug-report-container {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(100%, -50%);
  border: 0.01px solid;
}

.bugs-button {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0;
  margin: 0;
}
.bugs-button:hover {
  background-color: transparent;
  opacity: 1;
}

.bugs-button p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 50px;
}
.bugs-button:hover p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--danger-action);
}
